[submodule "vendor/sserialize"]
	path = vendor/sserialize
	url = https://github.com/dbahrdt/sserialize.git
[submodule "vendor/libosmtools"]
	path = vendor/libosmtools
	url = https://github.com/dbahrdt/libosmtools.git
[submodule "vendor/osmpbf"]
	path = vendor/osmpbf
	url = https://github.com/inphos42/osmpbf.git
