html,
body {
    height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

#map {
    height: 100%;
/* 	z-index: -1; */
}

#content_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
}

#loading_spinner_parent {
    //position: fixed;
    bottom: auto;
    left: 0%;
    right: 0%;
    top: 0%;
    width: 100%;
    height: fit-content;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    //z-index: 100;
}

#search_container {
    position: fixed;
    bottom: auto;
    left: 35%;
    right: 35%;
    top: 5%;
    width: 30%;
    height: fit-content;
    padding: 10px 10px 10px 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 100;
}

.menu_parent {
    border: 2px solid;
    border-radius: 10px;
    border-color: #c0e4ff;
    background-color: #FFFFFF;
    //background-color: rgba(0,0,0,0);
    z-index: 100;
    padding: 10px 10px 10px 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#left_menu_parent {
    position: fixed;
    bottom: auto;
    left: 5%;
    right: auto;
    top: 10%;
    width: auto;
    min-width: 20%;
    max-width: 30%;
    height: 80%;
    max-height: 80%;
}

#right_menu_parent {
    position: fixed;
    bottom: auto;
    left: auto;
    right: 5%;
    top: 30%;
    width: auto;
    min-width: 20%;
    max-width: 30%;
    height: 60%;
    padding-top: 0px;
}

#options_menu_parent {
    position: fixed;
    bottom: auto;
    left: auto;
    right: 5%;
    top: 10%;
    width: auto;
    min-width: 20%;
    max-width: 30%;
    height: 17%;
    min-height: 200px;
}

#config_parent {
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    overflow-y: auto;
}

#right_menu_movehandle {
    width: 100%;
    height: 10px; //needs matching #right_menu_scroll_area.height
}

#right_menu_scroll_area {
    width: 100%;
    height: calc(100% - 10px);
    padding: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

#help_parent {
    height: fit-content;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    overflow-y: hidden;
}

#relatives_parent {
    height: fit-content;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    overflow-y: hidden;
}

#options_parent {
    height: fit-content;
}

#results_tree_parent {
    height: 30%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    overflow-y: hidden;
}

#items_parent {
    max-height: 60%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    overflow-y: auto;
    overflow-x: auto;
}

#fuelux_tree_parent {
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#MyTree {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

#search_form {
    width:  100%;
}

#search_text {
    display: block;
    width: 100%;
    border-color: #c0e4ff;
}

#itemload_group {
    width: fit-content;
}

#itemload_accept_button_span {
    width : auto;
}

#itemload_spinner {
    width: auto;
}

#ohf_spinner_group {
    width: fit-content;
}

#ohf_spinner {
    width: auto;
}

.results-panel-title:hover {
    background: #e0e0e0;
}

#right_menu_parent .name-has-matched-tag {
    color : #ff0000;
}

#options_parent:hover {
    cursor: move;
}

#config_menu_movehandle:hover {
    cursor: move;
}

#right_menu_movehandle:hover {
    cursor: move;
}

.matched-key-color {
    color : #ff0000;
}

.matched-value-color {
    color : #ff0000;
}

.panel-heading h4 {
    padding : 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.transparent-menu {
    opacity: 0.3;
}

#options_parent {
    padding: 10px 10px 10px 10px;
    opacity: 1.0;
    border: 2px solid;
    border-radius: 10px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}