html,
body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* The html and body elements cannot have any padding or margin. */
}

#map {
    height: 100%;
    /* 	z-index: -1; */
}

#content_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
}

#search_form {
    padding-top: 5px;
    width: 90%;
    float: left;
}

#search_container {
    width: 95%;
    height: fit-content;
    padding: 10px 10px 10px 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 100;
    border-radius: 10px;
    display: block;
}

#categories {
    width: 45%;
    height: fit-content;
    float: left;
}

#categorieWrapper a {
    background-color: transparent;
}

#categorieWrapper a:hover {
    background-color: #0074d9;
    color: white;
    cursor: pointer;
}

#loader {
    position: fixed;
    z-index: 1000;
    top: 50%;
    right: 50%;
}

#subCategories {
    width: 45%;
    height: fit-content;
    float: right;
}

#categorieWrapper {
    width: 100%;
    height: fit-content;
    color: #000;
}

.menu_parent {
    z-index: 100;
    overflow-y: hidden;
    overflow-x: hidden;
}

#left_menu_parent {
    bottom: auto;
    left: 5%;
    right: auto;
    top: 5%;
    width: auto;
    height: 80%;
    max-height: 80%;
    display: none;
}

#options_menu_parent {
    /*position: fixed;
    bottom: auto;*/
    left: auto;
    right: 5%;
    top: 10%;
    width: auto;
    height: 17%;
    min-height: 200px;
}

#config_parent {
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
    background-color: #FFFFFF;
    overflow-y: auto;
}

#help_parent {
    height: fit-content;
    width: 100%;
    padding: 0 0 0 0;
    background-color: #FFFFFF;
    overflow-y: hidden;
}

#relatives_parent {
    height: fit-content;
    width: 100%;
    padding: 0 0 0 0;
    background-color: #FFFFFF;
    overflow-y: hidden;
}

#options_parent {
    height: fit-content;
}

#results_tree_parent {
    height: 300px;
    width: 100%;
    padding-right: 20px;
    overflow-y: hidden;
}

#items_parent {
    max-height: 60%;
    width: 95%;
    padding: 0 0 0 0;
    overflow-y: auto;
    overflow-x: auto;
}

#fuelux_tree_parent {
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#MyTree {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

#search_text {
    display: block;
    width: 100%;
    border-color: #c0e4ff;
}

#itemload_group {
    width: fit-content;
}

#itemload_accept_button_span {
    width: auto;
}

#itemload_spinner {
    width: auto;
}

#ohf_spinner_group {
    width: fit-content;
}

#ohf_spinner {
    width: auto;
}

.results-panel-title:hover {
    border-color: #003eff;
    background: #007fff;
}

.results-panel-title:hover a {
    color: white;
}

.matched-key-color {
    color: #ff0000;
}

.matched-value-color {
    color: #ff0000;
}

.name-has-matched-tag {
    color : #ff0000;
}

.panel-heading h4 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.transparent-menu {
    opacity: 0.3;
}

#options_parent {
    padding: 10px 10px 10px 10px;
    opacity: 1.0;
    border: 2px solid;
    border-radius: 10px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

#flickr {
    position: fixed;
    z-index: 200;
    right: 10px;
    top: 10px;
    width: 15%;
    padding: 10px 10px 10px 10px;
    opacity: 1.0;
    border: 2px solid;
    border-radius: 10px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    display: none;
    bottom: 10px;
}

#flickr img {
    padding: 5px 5px 5px 5px;
}

#flickr_images {
    overflow-y: scroll;
    height: 90%;
}

#categoryToggle {
    height: 40px;
    width: 50%;
    float: left;
}

#advancedSearch {
    display: none;
}

#advancedToggle {
    margin-top: 3px;
    float: right;
}

#searchModi {
    margin-top: 5px;
    float: left;
}

#tree {
    display: none;
    background-color: white;
    z-index: 50000;
    height: 95%;
    width: 95%;
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    border-radius: 4px;
    box-shadow: 0 1px 5px #000;
}

#dag {
    height: 90%;
    width: 100%;
}

#closeTree{
    position: absolute;
    top: 5px;
    right: 15px;
    width: 10px;
}

a .glyphicon-black {
    color: #000;
    margin-bottom: 2px;
    font-size: 1.5em;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 10px;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

#actions {
    margin-bottom: 20px;
}

#graph {
    margin-top: 10px;
    font-size: 1.5em;
    float: right;
}

#showCategories {
    float: left;
}

#closeFlickr{
    float: right;
}

#flickrHead a{
    float: left;
}

#flickrHead{
    height: 25px;
}

.treeNodeSub{
    color: black;
    display: block;
    margin-top: 5px;
}

.treeNodeItems{
    color: black;
    display: block;
    margin-top: 5px;
}

g.node > rect{
    fill: #007fff;
}

#toolbar {
    padding: 4px;
    display: inline-block;
    margin: 5px;
}

.badge{
    margin-top: 7px;
    margin-right: 2px;
}

label{
    margin-bottom: 0px;
}